{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="container">

            <!-- Start Form -->
            <form action="#" method="post">

                <!-- Start col-md-6 -->
                <div class="col-md-6 dc">

                    <h3>Date de la visite</h3>

                    <div class="form-group">
                        <div class="datepicker" id="datepicker" name="bookingDate" data-date="{{ "now"|date("d/m/Y") }}"></div>
                        <div class="input-group date">
                            <input type="text" class="form-control" data-date="{{ "now"|date("d/m/Y") }}">
                        <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </span>
                        </div>
                    </div>

                    <h3>Durée de la visite</h3>

                    <div class="form-group">
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                Billet pour la journée <i data-toggle="tooltip" data-placement="top" title="De 09h00 à 18h00" class="fa fa-question-circle"></i>
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                Billet pour la demi-journée  <i data-toggle="tooltip" data-placement="top" title="De 14h00 à 18h00" class="fa fa-question-circle"></i>
                            </label>
                        </div>
                    </div>

                    <h3>Nombre de billet</h3>
                    <div class="form-group">
                        <input type="number" class="form-control" id="numberTicket" value="" max="1000">
                    </div>

                    <a id="bookingNext" class="btn btn-info">Suite</a>
                </div>
                <!-- end col-md-6 -->

                <!-- Start col-md-6 -->
                <div class="col-md-6">
                    <h3>Formulaire d'inscription</h3>

                    <div id="info-visitor">

                    </div>

                    <p>Informations sur le visiteur 01</p>
                    <div class="form-group">
                        <label for="lastname">Nom</label>
                        <input type="text" class="form-control" id="lastname">
                    </div>

                    <div class="form-group">
                        <label for="firstname">Prénom</label>
                        <input type="text" class="form-control" id="firstname">
                    </div>

                    <div class="form-group">
                        <select id="" name="" class="form-control">
                            <option value="FR" selected>France</option>
                            <option value="ZA">Belgique</option>
                            <option value="ZA">Suisse</option>
                        </select>
                    </div>

                </div>
                <!-- end col-md-6 -->

            </form>
            <!-- end Form -->
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script>
        $('.container .input-group.date').datepicker({
            language: 'fr',
            daysOfWeekDisabled: "0",
            startDate: "today",
            todayBtn: "linked"
        });
    </script>
{% endblock %}