{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="container">

            <!-- Start Form -->
            <form action="#" method="post">

                <div class="row">

                    <!-- Start col-md-12 -->
                    <div class="col-md-10 col-md-offset-1 " id="informations">

                        <div id="info-booking" class="col-md-10 col-md-offset-1 dc">

                            <div class="col-md-4">

                                <h3>Date de la visite</h3>

                                <div class="form-group">
                                    <div class="datepicker" id="datepicker" name="bookingDate" data-date="{{ "now"|date("d/m/Y") }}"></div>
                                    <div class="input-group date">
                                        <input type="text" id="dateBooking" class="form-control" data-date="{{ "now"|date("d/m/Y") }}">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-4">

                                <h3>Durée de la visite</h3>

                                <div class="form-group">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="journee" checked>
                                            Billet pour la journée <i data-toggle="tooltip" data-placement="top" title="De 09h00 à 18h00" class="fa fa-question-circle"></i>
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="demijournee">
                                            Billet pour la demi-journée  <i data-toggle="tooltip" data-placement="top" title="De 14h00 à 18h00" class="fa fa-question-circle"></i>
                                        </label>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-4">

                                <h3>Nombre de billet</h3>
                                <div class="form-group">
                                    <input type="number" class="form-control" id="numberTicket" value="" min="0" max="1000">
                                </div>

                                <div id="button">
                                    <a id="bookingNext" class="btn btn-info pull-right">Suite</a>
                                </div>

                            </div>

                        </div>

                        <div id="recap"></div>

                    </div>
                    <!-- end col-md-12 -->
                </div>

                <div class="row">
                    <!-- Start col-md-8 -->
                    <div class="col-md-10 col-md-offset-1" id="nextBooking">

                        <span id="error"></span>
                        <div id="info-visitor"></div>

                    </div>
                    <!-- end col-md-6 -->
                </div>


            </form>
            <!-- end Form -->
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script>
        // Date de fermeture
        var disableddates = [
            "01-05-2016",
            "01-11-2016",
            "25-12-2016",
            "01-05-2017",
            "01-11-2017",
            "25-12-2017"
        ];

        $('.container .input-group.date').datepicker({
            language: 'fr',
            format: 'dd/mm/yyyy',
            daysOfWeekDisabled: "2", // Fermeture le mardi
            startDate: "today",
            todayBtn: "linked",
            datesDisabled: disableddates
        });

        $('.date-anniversaire').datepicker({
            language: 'fr',
            todayBtn: "linked"
        });
    </script>
{% endblock %}